@tailwind base;
@tailwind components;
@tailwind utilities;

body{

  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  color:rgb(85, 85, 85)
 

}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

.container {
    width:90%;
    margin:auto;
}



.link{
  color:rgb(85, 85, 85)
}
.link:hover{
    color:#ff5252;
}
.MuiBadge-badge{
  background-color: #ff5252 !important;
}